# This is an example environment configuration file.
#
# INSTRUCTIONS:
# 1. Make a copy of this file and rename the copy to ".env".
# 2. The .env file is ignored by Git and will be unique to your computer.
# 3. Fill in the values for the variables below with the absolute paths
#    for the corresponding folders on YOUR local machine.

# --- PATHS ---

# The absolute path to the base directory where your local, generated data is stored.

# --- this should be where scratch is
DATA_DIR="/scratch/general/vast/u6025801"

# --- the root folder for git-synced code
CODE_DIR="/uufs/chpc.utah.edu/common/home/u6025801/korean_project"

